<!--仅有里程计定位，没有其他任何算法下的定位效果，随着时间推移会有累计误差-->

<launch>
  <!-- Map server -->
  <arg name="map_file" default="$(find slam_sim_demo)/maps/Software_Museum.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

<node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" 
      args="0 0 0 0 0 0 map odom 20" />

  <!-- Move base -->
 <include file="$(find navigation_sim_demo)/launch/include/move_base.launch.xml"/>
</launch>
