<launch>
  <!--Load urdf to param server-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find kuka_arm)/urdf/kr210.urdf.xacro'"/>

  <!--Send fake joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!--Publish robot state to TF-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>
