<launch>

  <arg name="model" default="$(find urdf_demo)/mybot_description/xacro/mybot.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="true"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find urdf_demo)/xacro.rviz" output="screen"/> 

</launch>
